body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}



/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}



/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}



/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}



/*Section Classes*/

section {
    width: 100%;
    /*height: 75vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}



/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}



/*Skills Section*/

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}



/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}



/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}
.mb50px {
    margin-bottom: 50px;
}


/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}



/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}

.sixty-percent {
    height: inherit;
    width: 60%;
}


/* Contact */
#contact {
    background-image: linear-gradient(to top right, #2857a4,#403066);
    color: white;
    width: 100%;
}
#contact span {
    color: white;
}
#contact-container {
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75vw;
}
#contact-details {
    margin-left: 6%;
    color: #d9dcdd
}
#contact-details p{
    font-size: 0.9rem;
    width: 100%;
}
#contact h6 {
    margin: 0;
    padding: 0 0 1rem 0;
}

.contact-info {
    font-size: 0.9rem;
    padding: 0 0 1rem 0;
}
.contact-info i {
    padding-right: 0.6rem;
}

#contact-form input, textarea {
    background: transparent;
    color: #d9dcdd;
    width: 90%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    line-height: 1.6rem;
    border: 0 solid;
    border-bottom: 2px solid;
    font-size: 0.9rem;
}
#contact-form {
    width: 50%;
}
#contact-form button {
    background: transparent;
    color: #fff;
    padding: 0.8rem 2.5rem;
    line-height: 0.9rem;
    letter-spacing: 0.1rem;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#form-detail{
    display: flex;
}


#contact-details {
    width: 35%;
}
#contact-details span p {
    margin-left: 0.6rem;
}

#contact .social-icons i {
    padding: 0 2rem;
    font-size: 1.2rem;
    margin: 3rem 0;
}
/* #2857a4' and rightmost color is '#403066 */

/* work ex */
#work-container {
    position: relative;
    border: 2px solid black;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}
.work {
    border: 2px solid black;
    position: relative;
    width: 40%;
    min-height: 150px;
    margin: 5px;
}
.work:nth-child(2n) {
    margin: 5px 5px 5px auto;
}

.work::after {
    content: '';
    position: absolute;
    top: 25%;
    background-color: rebeccapurple;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 10;
    right: -24.7%;
}

.work:nth-child(2n)::after {
    left: -23.7%;
}

.track {
    position: absolute;
    height: 75%;
    top: 7%;
    left: 50%;
    width:0;
    border: 2px dotted teal;
}


#plane {
    position: sticky;
    top:25%;
    transform: rotate(90deg);
    color: #2857a4;
    z-index: 11;
}




/*
.point1, .point2, .point3, .point4 {
    position: absolute;
    height: 10px;
    width: 10px;
    left: 49.5%;
    background-color: #b9b9b9;
    border-radius: 50%;
    overflow: hidden;
}

.point1 {
    margin-top: 10%;    
}
.point2 {
    margin-top: 420px;    
}
.point3 {
    margin-top: 580px;    
}
.point4 {
    margin-top: 750px;    
}
*/

/* psuedo */
